@tailwind base;
@tailwind components;
@tailwind utilities;
.flex-col {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column; /* Safari */
}

.justify-center {
  justify-content: center;
  -webkit-justify-content: center; /* Safari */
}

.align-items-start {
  align-items: flex-start;
  -webkit-align-items: flex-start; /* Safari */
}
